#jira .ghx-label-0 {
    background-color: #fff;
    border-color: #707070;
    color: #707070;
}
#jira .ghx-label-1 {
    background-color: #815b3a;
    border-color: #815b3a;
    color: #fff;
}
#jira .ghx-label-2 {
    background-color: #f79232;
    border-color: #f79232;
    color: #fff;
}
#jira .ghx-label-3 {
    background-color: #d39c3f;
    border-color: #d39c3f;
    color: #fff;
}
#jira .ghx-label-4 {
    background-color: #3b7fc4;
    border-color: #3b7fc4;
    color: #fff;
}
#jira .ghx-label-5 {
    background-color: #4a6785;
    border-color: #4a6785;
    color: #fff;
}
#jira .ghx-label-6 {
    background-color: #8eb021;
    border-color: #8eb021;
    color: #fff;
}
#jira .ghx-label-7 {
    background-color: #ac707a;
    border-color: #ac707a;
    color: #fff;
}
#jira .ghx-label-8 {
    background-color: #654982;
    border-color: #654982;
    color: #fff;
}
#jira .ghx-label-9 {
    background-color: #f15c75;
    border-color: #f15c75;
    color: #fff;
}